<!DOCTYPE html>
<html>
<head>
	<title>Hostlinea</title>
	<link rel="stylesheet" type="text/css" href="../css/Hostlinea.css">
</head>
<body>
<!-- Contact bar -->
<!-- <div id="contact_bar">
<table>
	<tr id="text_style">
		<td style="float: right;"> Customer Care |</td>
		<td style="float: right;"> 1800 100 1234 |</td>
		<td style="float: right;"> Facebook |</td>
	</tr>
</table>
</div> -->
<!-- Nav Bar -->
<!-- <div id="logo_header"></div> -->
<!-- <div><img src="../images/logo.png" height="80px"></div> -->
<!-- <div>
	<ul>
		<li>Home</li>
		<li>Contact Us </li>
	</ul>
</div> -->
<div class="box">
	
</div>

</body>
</html>
