<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- <script src="http://malsup.github.com/jquery.cycle2.js"></script> -->
<script type="text/javascript" src="../js/slider.js"></script>
<title>Slider</title>
<style type="text/css">
	*{
		margin: 0 0;
		padding: 0;
	}
	
	.cycle-slideshow { width: 100%; }
	.cycle-slideshow img { width: 100%;}
</style>
</head>
<body>
<div class="cycle-slideshow" data-cycle-auto-height=auto>
	<img src="../images/bg.jpg" alt="Hello">
	<img src="../images/bg2.jpg" alt="Frands">
	<img src="../images/bg2.jpg" alt="Chai peelo">
</div>
<script type="text/javascript">
//	(function() {
//		var windowH = $(window).height(),
//			introEl = $('div.cycle-slideshow'),
//			introHeadingH = introEl.find('h1').height();
//		introEl.css('padding', (windowH - introHeadingH)/2 + 'px 0');
//	})();
</script>
</body>
</html>